
/**

Afiq Xilantra Azmi
26Nov15

**/
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.pace-inactive{display:none}.pace .pace-progress{background:#28caa5;position:fixed;z-index:2000;top:0;right:100%;width:100%;height:2px}.pace .pace-progress-inner{display:block;position:absolute;right:0;width:100px;height:100%;box-shadow:0 0 10px #28caa5,0 0 5px #28caa5;opacity:1;-webkit-transform:rotate(3deg) translate(0,-4px);-moz-transform:rotate(3deg) translate(0,-4px);-ms-transform:rotate(3deg) translate(0,-4px);-o-transform:rotate(3deg) translate(0,-4px);transform:rotate(3deg) translate(0,-4px)}

body, 
a, 
small, 
.carousel-indicators li,
.navbar-inverse .navbar-nav a
{-webkit-transition: all 300ms ease-in-out;-moz-transition: all 300ms ease-in-out;-ms-transition: all 300ms ease-in-out;-o-transition: all 300ms ease-in-out;transition: all 300ms ease-in-out}
        
.gedik,
.download-badge a img,
footer a img  
{-webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55)}

body{background-color: #fff}

nav {
    transition: top 0.2s ease-in-out;

}

.navbar-inverse a {color: #fff !important; border-bottom: 2px solid transparent}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav a:hover, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background: transparent; border-bottom: 2px solid #fff
}

.nav-up {top: -60px}

.nav-down {
    background-color: #28caa5 !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
            box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
}
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(8, 8, 8, 0);
}
.hero {height: 100vh; background: url(../img/bgx.jpg) center center no-repeat fixed; background-size: cover}

/**
.hero:before {background-color: rgba(0, 0, 0, 0.38); display: block; margin: 0; padding: 0; height: 100vh; width: 100vw; content: ''}
**/

.jumbotron {
    color: #ffffff;
    padding-top: 25vh;
    background-color: transparent;
}
 
@media (min-width: 1200px) {
.hero .jumbotron,
    .black-bg {
    padding-left: 250px;
    padding-right: 250px}
    
    
.feedback {
    padding: 30vh 25vw
}
    
.feedback h2 {
    margin-top: -30vh;
    margin-bottom: 20vh
}
    
       #carousel-feedback .carousel-indicators {
        bottom: -100px !important} 
}


.download-badge {
    margin-top: 90px
}

.download-badge.okgo {
    margin-top: 20px
}

.download-badge a{
    text-decoration: none;
    margin: 10px
}
.download-badge a:hover img{
    border-radius: 5px;
        -webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,.5);
            box-shadow: 0 4px 14px 0 rgba(0,0,0,.5);
}

.funa-green {color: #28CAA5}

.col-xs-center {display: inline-block; text-align: center;}

.push-top {margin-top: 100px}

.black-bg {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background: url(../img/busstand.jpg) center bottom no-repeat fixed;
    background-size: cover;
    color: #fff;
}

.phone-displayer-lg {
    list-style: none; margin: 0; padding: 0
}

.phone-displayer-lg h4 {
    padding:  ;
}

.phone-displayer-lg h4 a {
    color: #28CAA5;
    font-weight: bold;
    padding: 15px 10px 15px 10px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px
}

.phone-displayer-lg h4 a:hover {
    background-color: #28CAA5;
    color: #fff
}

.phone-displayer-lg h4 a:hover small {
    color: rgba(255, 255, 255, 0.5)
}

.phone-displayer-lg img {
    margin: 0 30px 10px 10px;
    display: block;
    float: left;
}

/**bell**/
.phone-displayer-lg li:last-child img {
    margin-left: 15px
}

/**
TODO:
Tablet
login: remove phone number, put label unchange on main screen
**/


#carousel-lg {
    background: url(../img/flat_phone.png) center center no-repeat;
    background-size: contain;
}

.carousel-control {
    opacity: 0;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    #carousel-lg .carousel-indicators {
        bottom: 0 !important}
    #carousel-feedback .carousel-indicators {
        bottom: -90px !important}
    .push-top-md {margin-top:20vh}
}

.carousel-indicators li {
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.15)
}

.carousel-indicators li:hover {
    border: 1px solid #919191
}

.carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.3)
}

.carousel-control:hover,
.carousel-control:focus {
    opacity: .4;
}

.carousel-caption {
    text-shadow: none;
    color: inherit
}



.feedback strong {display: block; margin-top: 40px !important}

#carousel-feedback .carousel-indicators li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
        
}

#carousel-feedback .carousel-indicators li:nth-child(1) {
    background-image: url(../img/danloh.jpg);
}
#carousel-feedback .carousel-indicators li:nth-child(2) {
    background-image: url(../img/person.jpg);
}
#carousel-feedback .carousel-indicators li:nth-child(3) {
    background-image: url(../img/person.jpg);
}

/**
#carousel-feedback .carousel-indicators .active {
   border:2px solid #28caa5;
}
**/

#carousel-feedback .carousel-indicators .active,
#carousel-feedback .carousel-indicators li:hover {
    -webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,.5);
            box-shadow: 0 4px 14px 0 rgba(0,0,0,.5)
}


.feedback:hover .carousel-control {opacity: .5}
.feedback .carousel-control:hover {opacity: 1}
.feedback .carousel-control.right:hover {
    -moz-transform: translateX(10px);
-webkit-transform: translateX(10px);
-o-transform: translateX(10px);
-ms-transform: translateX(10px);
transform: translateX(10px);
}

.feedback .carousel-control.left:hover {
    -moz-transform: translateX(-10px);
-webkit-transform: translateX(-10px);
-o-transform: translateX(-10px);
-ms-transform: translateX(-10px);
transform: translateX(-10px);
}

#carousel-feedback .carousel-control.left {margin-left: -100px; background: url(../img/left.png) no-repeat center center}
#carousel-feedback .carousel-control.right {margin-right: -100px; background: url(../img/right.png) no-repeat center center}


footer {
    margin-top: 10vh;
    padding-top: 50px;
    padding-bottom: 20px;
    background: #28caa5;
}


footer a {color: #fff; display: inline}
footer a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

footer a img {
    text-decoration: none !important;
    border-radius: 4px;
    margin-right: 5px;
}

footer a:hover img,
footer a:visited img,
footer a:active img {
    text-decoration: none !important;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
}

.download-badge a:hover img,
footer a:hover img,
footer a:visited img,
footer a:active img {
    -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
     -ms-transform: scale(1.2);
         transform: scale(1.2);
}

footer p a, 
footer p a:active, 
footer p a:visited  
{font-weight: bold; color: currentColor;text-decoration: none}

footer p a:hover {text-decoration: none; color: #fff}
footer h4 {font-size: 18px; font-weight: bold; color: #fff}

@media (max-width: 767px) {
    .hero {
        height: 100%; background: url(../img/bg-smallx.png) center center no-repeat fixed; background-size: cover}
.nav-up {top: -350px}
  footer {
    text-align: center;
  }
    .text-left-xs {text-align: left; margin-bottom: 50px}
    .lead {font-size: 14px !important}
        #carousel-feedback .carousel-indicators {
        bottom: -90px !important}
    
    .push-top-md {margin-top:20vh}
    .feedback .carousel-control {opacity: .5}
    #carousel-feedback .carousel-control.left {margin-left: -30px; margin-bottom: -220px}
    #carousel-feedback .carousel-control.right {margin-right:  -30px; margin-bottom: -220px}
    #carousel-feedback .carousel-indicators {
    left: 0;
    width: 100%;
    margin: 0  }
}