body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url(../images/hero-bg.jpg) no-repeat center center fixed;
    background-color: #333;
    background-size: cover;
    color: #333
}
#mainToolbar {background: transparent} 
#my-button::shadow paper-ripple, #my-button, paper-icon-button::shadow paper-ripple, paper-button {color: gold}
paper-button {text-align: center}
paper-icon-button {border-radius: 50%;-webkit-transition: all 500ms ease-in-out;-moz-transition: all 500ms ease-in-out;-ms-transition: all 500ms ease-in-out;-o-transition: all 500ms ease-in-out;transition: all 500ms ease-in-out}
paper-icon-button:hover {background: gold}

h1 {font-weight: 100; font-size: 3rem; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)}
hr {border-color: gold; margin: 0.1rem auto}
.kad-sendiri {text-align: left; margin: 20px; padding: 20px;border-radius: 4px;background-color: rgba(0, 0, 0, 0.69);color: #fff;
-webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.5);
box-shadow: 0 0 9px 0 rgba(0,0,0,0.5)}
h2 {font-weight: 200}